<ion-header>
  <ion-toolbar>
    <ion-title>iweb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <img src="assets/logo.png" alt="iweb Logo" class="logo animate__animated animate__fadeInDown" />
    <ion-item>
      <ion-icon name="person" slot="start" class="fa fa-user"></ion-icon>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="credentials.username" placeholder="Enter username"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon name="lock-closed" slot="start" class="fa fa-lock"></ion-icon>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="credentials.password" placeholder="Enter password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()" [disabled]="isLoading">
      <ion-icon *ngIf="!isLoading" name="log-in-outline" slot="start" class="fa fa-sign-in-alt"></ion-icon>
      <ion-icon *ngIf="isLoading" name="loading" slot="start" class="fas fa-spinner fa-spin"></ion-icon> <!-- Inline spinner -->
      {{ isLoading ? 'Logging in...' : 'Login' }}
    </ion-button>
    <ion-text class="error animate__animated" [ngClass]="{'animate__shakeX': userError}" *ngIf="userError">{{ userError }}</ion-text>
  </div>
</ion-content>