<ion-header>
  <ion-toolbar>
    <ion-title>iweb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <img src="assets/logo.png" alt="iweb Logo" class="logo animate__animated animate__fadeInDown" />
    <ion-item>
      <ion-icon name="person" slot="start" class="fa fa-user"></ion-icon>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="credentials.username" placeholder="Enter username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed" slot="start" class="fa fa-lock"></ion-icon>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="credentials.password" placeholder="Enter password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()">
      <ion-spinner *ngIf="isLoading" name="crescent" class="loading-spinner"></ion-spinner>
      <ion-icon name="log-in-outline" slot="start" class="fa fa-sign-in-alt" *ngIf="!isLoading"></ion-icon>
      <span *ngIf="!isLoading">Login</span>
      <span *ngIf="isLoading">Logging in...</span> <!-- Text feedback during load -->
    </ion-button>
    <ion-text class="error animate__animated" [ngClass]="{'animate__shakeX': error}" *ngIf="error">{{ error }}</ion-text>
  </div>
</ion-content>